<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Price per Unit</title>
  <script src="../scripts/main.js"></script>
  <script type="text/javascript" src="../data/units.js"></script>
</head>

<body onload="init()">
  <p id="testParagraph" onclick="test()">test</p>
  <form id="calculatorInputForm">
  <table>
    <thead>
      <tr>
        <th>Price</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Unit Price</th>
        <th>Price per Pound</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input id="price1" type="number" oninput="calculateUnitPrice('1')"></td>
        <td><input id="amount1" type="number" oninput="calculateUnitPrice('1')"></td>
        <td><select id="unit1" onchange="calculateUnitPrice('1')"></select></td>
        <td><input id="unitPrice1" disabled="true" type="number"></td>
        <td><input id="pricePerPound1" disabled="true" type="number"></td>
        <td><input id="reset" type="reset" onclick=""></td> <!-- Make this reset the row -->
      </tr>
      <tr>
        <td><input id="addRowButton" type="button" value="Add Row" onclick="addRow()"></td>
      </tr>
    </tbody>
    <!-- <tfoot><tr>
      
      <td><input id="submitButton" type="button" value="Submit" onclick="calculateUnitPrice()"></td>
    </tr></tfoot> -->
  </table>
</form>
</body>

</html>